<ul>
  <% if Admin::CourseEventAttendeesController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_course_event_attendees_url
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_course_event_attendee_url,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::CourseEventAttendeesController.sortable? and CourseEventAttendee.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Course Event Attendees"),
                 admin_course_event_attendees_url,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Course Event Attendees"),
                 admin_course_event_attendees_url,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>