<% content_for :body_content_left do %>
  <ul id="venues">
    <% @venues.each do |venue| %>
      <li>
        <%= link_to venue.name, venue_url(venue) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
