<ul>
  <% if Admin::CourseEventsController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_course_events_url
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_course_event_url,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::CourseEventsController.sortable? and CourseEvent.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Course Events"),
                 admin_course_events_url,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Course Events"),
                 admin_course_events_url,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>