<ul>
  <% if Admin::PartsController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_parts_url
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_part_url,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::PartsController.sortable? and Part.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Parts"),
                 admin_parts_url,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Parts"),
                 admin_parts_url,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>